*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*[data-before-input]::before{
  content: attr(data-before-input);
}

body{
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* grid */
  grid-template-columns: 50% 50%;
}

div#game-frame{
  margin: auto;
}

div#history{
  display: grid;
  margin: 10px;
  grid-gap: 10px;
}
div#history.two-columns{
  grid-template-columns: 50% 50%;
}

div.word-box{
  display: grid;
  width: 410px;
  height: 50px;
  /* grid */
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 10px;
}

div.char-box{
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 8px;
}
div.char-box.wrong{
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
}
div.char-box.exist{
  border: 1px solid #aa0;
  background-color: #aa0;
  color: #fff;
}
div.char-box.true{
  border: 1px solid #0a0;
  background-color: #0a0;
  color: #fff;
}

div#keypad{
  margin: auto;
  padding: 10px;
}

div#default-keyboard{
  display: grid;
  margin: auto;
  width: calc( (40px + 5px) * 10 - 5px );
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px;
  grid-gap: 5px;
}

div#special-keyboard{
  display: grid;
  margin: 10px auto auto auto;
  width: calc( (40px + 5px) * 10 - 5px );
  grid-template-columns:  40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px;
  grid-gap: 5px;
}

div.keyboard > div{
  background-color: #ddd;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  border-radius: 5px;
  padding-top: 6px;
}
div.keyboard > div.wrong{
  background-color: #999;
}
div.keyboard > div.exist{
  background-color: #dd9;
}
div.keyboard > div.true{
  background-color: #9d9;
}
div.keyboard > div:hover{
  background-color: #aaa;
}
div.keyboard > div.wrong:hover{
  background-color: #666;
}
div.keyboard > div.exist:hover{
  background-color: #aa6;
}
div.keyboard > div.true:hover{
  background-color: #6a6;
}
div.keyboard > div:active{
  background-color: #888;
}
div.keyboard > div.wrong:active{
  background-color: #444;
}
div.keyboard > div.exist:active{
  background-color: #884;
}
div.keyboard > div.true:active{
  background-color: #484;
}
div.keyboard > div.none{
  background-color: #fff;
}

div#control{
  display: grid;
  margin: 10px auto auto auto;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px;
  grid-gap: 5px;
}

div#reset-btn{
  background-color: #ddd;
  color: #000;
  border-radius: 5px;
  font-size: 12pt;
  padding-top: 8px;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
div#reset-btn:hover{
  background-color: #aaa;
}
div#reset-btn:active{
  background-color: #888;
}

div#enter-btn{
  background-color: #ddd;
  color: #000;
  border-radius: 5px;
  font-size: 14pt;
  font-weight: bold;
  padding-top: 6px;
  text-align: center;
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}
div#enter-btn:hover{
  background-color: #aaa;
}
div#enter-btn:active{
  background-color: #888;
}

div#delete-btn{
  background-color: #ddd;
  color: #000;
  border-radius: 5px;
  font-size: 12pt;
  padding-top: 8px;
  text-align: center;
  grid-column: 9 / 11;
  grid-row: 1 / 2;
}
div#delete-btn:hover{
  background-color: #aaa;
}
div#delete-btn:active{
  background-color: #888;
}

div#popup{
  display: none;
}
div#popup.display{
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  align-items: center;
}
div#popup-window{
  margin: auto;
  padding: 10px;
  background-color: #fff;
  color: #000;
  width: 40%;
  box-shadow: 0 0 20px 0 #000;
  border-radius: 5px;
  font-size: 14pt;
}